.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:20px;
}

.App-link {
  color: #09d3ac;
}

.loading-img-cont{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	max-height:200px;
	max-width:200px;
	padding:20px;
	margin:auto auto;
	z-index: 10
}
.loading-img{
	max-width:70%;
	display: block;
}
.loading-img-cont:after{
	content: ' ';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, .8);
    z-index: 1;
}

